.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  width: fit-content;
}

.sizeDefault {
  padding: 2px 6px;
  font-size: 14px;
}

.sizeLarge {
  padding: 4px 8px;
  font-size: 14px;
}

.colorRed {
  background: #ef444415;
  color: #b91c1c;
}

.colorGreen {
  background: #22c55e15;
  color: #15803d;
}

.colorPurple {
  background: #8b5cf615;
  color: #6d28d9;
}
